@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s0n58m');
  src:  url('fonts/icomoon.eot?s0n58m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s0n58m') format('truetype'),
    url('fonts/icomoon.woff?s0n58m') format('woff'),
    url('fonts/icomoon.svg?s0n58m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Operator-icon-2 .path1:before {
  content: "\e93b";
  color: rgb(229, 62, 41);
}
.icon-Operator-icon-2 .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(253, 253, 255);
}
.icon-Operator-icon-2 .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(253, 253, 255);
}
.icon-Edit-Icon:before {
  content: "\e94b";
  color: #e53e29;
}
.icon-Yelp_Logo .path1:before {
  content: "\e948";
  color: rgb(255, 255, 255);
  opacity: 0.96;
}
.icon-Yelp_Logo .path2:before {
  content: "\e949";
  margin-left: -2.48046875em;
  color: rgb(255, 26, 26);
}
.icon-Yelp_Logo .path3:before {
  content: "\e94a";
  margin-left: -2.48046875em;
  color: rgb(0, 0, 0);
}
.icon-Bing-Icon .path1:before {
  content: "\e940";
  color: rgb(0, 131, 115);
}
.icon-Bing-Icon .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Pinterest-Icon .path1:before {
  content: "\e942";
  color: rgb(230, 0, 35);
}
.icon-Pinterest-Icon .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Twitter-Icon .path1:before {
  content: "\e944";
  color: rgb(29, 160, 241);
}
.icon-Twitter-Icon .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Facebook-Icon .path1:before {
  content: "\e946";
  color: rgb(255, 255, 255);
}
.icon-Facebook-Icon .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(6, 122, 234);
}
.icon-Yelp-Icon .path1:before {
  content: "\e935";
  color: rgb(255, 26, 26);
}
.icon-Yelp-Icon .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(253, 253, 255);
}
.icon-Google-Icon .path1:before {
  content: "\e937";
  color: rgb(255, 193, 7);
}
.icon-Google-Icon .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 61, 0);
}
.icon-Google-Icon .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(76, 175, 80);
}
.icon-Google-Icon .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-Close-Button1:before {
  content: "\e957";
}
.icon-Close-Button:before {
  content: "\e956";
}
.icon-Menu-Icon1:before {
  content: "\e90d";
}
.icon-Menu-Icon:before {
  content: "\e952";
}
.icon-Arrow-5:before {
  content: "\e953";
  color: #fdfdff;
}
.icon-Vehicle-Icon:before {
  content: "\e90f";
  color: #e53e29;
}
.icon-Vector-3:before {
  content: "\e93e";
  color: #e53e29;
}
.icon-Vector-2:before {
  content: "\e954";
  color: #fdfdff;
}
.icon-Gide-Icon .path1:before {
  content: "\e906";
  color: rgb(253, 253, 255);
}
.icon-Gide-Icon .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(9, 38, 94);
}
.icon-Gide-Icon .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(9, 38, 94);
}
.icon-location-icon-1 .path1:before {
  content: "\e90b";
  color: rgb(229, 62, 41);
  opacity: 0.85;
}
.icon-location-icon-1 .path2:before {
  content: "\e90c";
  margin-left: -0.7861328125em;
  color: rgb(244, 244, 243);
}
.icon-location-icon .path1:before {
  content: "\e909";
  color: rgb(229, 62, 41);
  opacity: 0.85;
}
.icon-location-icon .path2:before {
  content: "\e90a";
  margin-left: -0.7861328125em;
  color: rgb(244, 244, 243);
}
.icon-Operator-icon-1 .path1:before {
  content: "\e901";
  color: rgb(244, 247, 251);
  opacity: 0.8;
}
.icon-Operator-icon-1 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(244, 247, 251);
}
.icon-Operator-icon-1 .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(244, 247, 251);
}
.icon-search:before {
  content: "\e905";
}
.icon-keyboard_arrow_down:before {
  content: "\e904";
}
.icon-chevron-thin-right:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e93f";
}
.icon-menu:before {
  content: "\e90e";
}
.icon-checkmark-outline:before {
  content: "\e955";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
