@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xc5yjx');
  src:  url('fonts/icomoon.eot?xc5yjx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xc5yjx') format('truetype'),
    url('fonts/icomoon.woff?xc5yjx') format('woff'),
    url('fonts/icomoon.svg?xc5yjx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Yp-Icon-1:before {
  content: "\e970";
  color: #fdfdff;
}
.icon-Yelp-Icon-1:before {
  content: "\e971";
  color: #fdfdff;
}
.icon-Vector-9:before {
  content: "\e972";
  color: #fdfdff;
}
.icon-Vector-8:before {
  content: "\e973";
  color: #fdfdff;
}
.icon-Pinterest-Icon-1:before {
  content: "\e974";
  color: #fdfdff;
}
.icon-Operator-icon .path1:before {
  content: "\e94f";
  color: rgb(244, 247, 251);
  opacity: 0.8;
}
.icon-Operator-icon .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(244, 247, 251);
}
.icon-Operator-icon .path3:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(244, 247, 251);
}
.icon-Linkedin-Icon:before {
  content: "\e94c";
  color: #09265e;
}
.icon-Facebbok-Icon:before {
  content: "\e94d";
  color: #09265e;
}
.icon-Twiter-Icon:before {
  content: "\e94e";
  color: #09265e;
}
.icon-Edit-Icon:before {
  content: "\e94b";
  color: #e53e29;
}
.icon-Yelp_Logo .path1:before {
  content: "\e948";
  color: rgb(255, 255, 255);
  opacity: 0.96;
}
.icon-Yelp_Logo .path2:before {
  content: "\e949";
  margin-left: -2.48046875em;
  color: rgb(255, 26, 26);
}
.icon-Yelp_Logo .path3:before {
  content: "\e94a";
  margin-left: -2.48046875em;
  color: rgb(0, 0, 0);
}
.icon-Bing-Icon .path1:before {
  content: "\e940";
  color: rgb(0, 131, 115);
}
.icon-Bing-Icon .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Pinterest-Icon .path1:before {
  content: "\e942";
  color: rgb(230, 0, 35);
}
.icon-Pinterest-Icon .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Twitter-Icon .path1:before {
  content: "\e944";
  color: rgb(29, 160, 241);
}
.icon-Twitter-Icon .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Facebook-Icon .path1:before {
  content: "\e946";
  color: rgb(255, 255, 255);
}
.icon-Facebook-Icon .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(6, 122, 234);
}
.icon-Yelp-Icon .path1:before {
  content: "\e935";
  color: rgb(255, 26, 26);
}
.icon-Yelp-Icon .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(253, 253, 255);
}
.icon-Google-Icon .path1:before {
  content: "\e937";
  color: rgb(255, 193, 7);
}
.icon-Google-Icon .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 61, 0);
}
.icon-Google-Icon .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(76, 175, 80);
}
.icon-Google-Icon .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-Yp-Icon .path1:before {
  content: "\e93b";
  color: rgb(0, 0, 0);
}
.icon-Yp-Icon .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Yp-Icon .path3:before {
  content: "\e93d";
  margin-left: -1em;
  color: none;
}
.icon-Arrow-5:before {
  content: "\e93e";
  color: #fdfdff;
}
.icon-Vehicle-Icon:before {
  content: "\e90d";
  color: #e53e29;
}
.icon-Vector-3:before {
  content: "\e90e";
  color: #e53e29;
}
.icon-Vector-21:before {
  content: "\e959";
  color: #fdfdff;
}
.icon-Gide-Icon .path1:before {
  content: "\e906";
  color: rgb(253, 253, 255);
}
.icon-Gide-Icon .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(9, 38, 94);
}
.icon-Gide-Icon .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(9, 38, 94);
}
.icon-location-icon-1 .path1:before {
  content: "\e90b";
  color: rgb(229, 62, 41);
  opacity: 0.85;
}
.icon-location-icon-1 .path2:before {
  content: "\e90c";
  margin-left: -0.7861328125em;
  color: rgb(244, 244, 243);
}
.icon-location-icon .path1:before {
  content: "\e909";
  color: rgb(229, 62, 41);
  opacity: 0.85;
}
.icon-location-icon .path2:before {
  content: "\e90a";
  margin-left: -0.7861328125em;
  color: rgb(244, 244, 243);
}
.icon-Operator-icon-1 .path1:before {
  content: "\e901";
  color: rgb(244, 247, 251);
  opacity: 0.8;
}
.icon-Operator-icon-1 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(244, 247, 251);
}
.icon-Operator-icon-1 .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(244, 247, 251);
}
.icon-Operator-icon-2 .path1:before {
  content: "\e953";
  color: rgb(229, 62, 41);
}
.icon-Operator-icon-2 .path2:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(253, 253, 255);
}
.icon-Operator-icon-2 .path3:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(253, 253, 255);
}
.icon-Car .path1:before {
  content: "\e952";
  color: rgb(9, 38, 94);
}
.icon-Car .path2:before {
  content: "\e965";
  margin-left: -2em;
  color: rgb(253, 253, 255);
}
.icon-Car .path3:before {
  content: "\e966";
  margin-left: -2em;
  color: rgb(253, 253, 255);
}
.icon-Car .path4:before {
  content: "\e967";
  margin-left: -2em;
  color: rgb(253, 253, 255);
}
.icon-Car .path5:before {
  content: "\e968";
  margin-left: -2em;
  color: none;
}
.icon-Car .path6:before {
  content: "\e969";
  margin-left: -2em;
  color: none;
}
.icon-Arrow-51:before {
  content: "\e954";
  color: #fdfdff;
}
.icon-Vector-2:before {
  content: "\e957";
  color: #fdfdff;
}
.icon-Gide-Icon1 .path1:before {
  content: "\e958";
  color: rgb(253, 253, 255);
}
.icon-Gide-Icon1 .path2:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(9, 38, 94);
}
.icon-Gide-Icon1 .path3:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(9, 38, 94);
}
.icon-location-icon-11 .path1:before {
  content: "\e95b";
  color: rgb(229, 62, 41);
  opacity: 0.85;
}
.icon-location-icon-11 .path2:before {
  content: "\e96c";
  margin-left: -0.7861328125em;
  color: rgb(244, 244, 243);
}
.icon-location-icon1 .path1:before {
  content: "\e95a";
  color: rgb(229, 62, 41);
  opacity: 0.85;
}
.icon-location-icon1 .path2:before {
  content: "\e96d";
  margin-left: -0.7861328125em;
  color: rgb(244, 244, 243);
}
.icon-Operator-icon-11 .path1:before {
  content: "\e962";
  color: rgb(244, 247, 251);
  opacity: 0.8;
}
.icon-Operator-icon-11 .path2:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(244, 247, 251);
}
.icon-Operator-icon-11 .path3:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(244, 247, 251);
}
.icon-Door-to-Door-Icon:before {
  content: "\e920";
  color: #09265e;
}
.icon-Exotic-Car-Transport-Icon .path1:before {
  content: "\e921";
  color: rgb(9, 38, 94);
}
.icon-Exotic-Car-Transport-Icon .path2:before {
  content: "\e922";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Exotic-Car-Transport-Icon .path3:before {
  content: "\e923";
  margin-left: -1.6669921875em;
  color: none;
}
.icon-Exotic-Car-Transport-Icon .path4:before {
  content: "\e924";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Exotic-Car-Transport-Icon .path5:before {
  content: "\e925";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Enclosed-Hauler-Icon .path1:before {
  content: "\e926";
  color: rgb(9, 38, 94);
}
.icon-Enclosed-Hauler-Icon .path2:before {
  content: "\e927";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Enclosed-Hauler-Icon .path3:before {
  content: "\e928";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Enclosed-Hauler-Icon .path4:before {
  content: "\e929";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
  opacity: 0.6;
}
.icon-Enclosed-Hauler-Icon .path5:before {
  content: "\e92a";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Enclosed-Hauler-Icon .path6:before {
  content: "\e92b";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Enclosed-Hauler-Icon .path7:before {
  content: "\e92c";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Enclosed-Hauler-Icon .path8:before {
  content: "\e92d";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Enclosed-Hauler-Icon .path9:before {
  content: "\e92e";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Enclosed-Hauler-Icon .path10:before {
  content: "\e92f";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Enclosed-Hauler-Icon .path11:before {
  content: "\e930";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Enclosed-Hauler-Icon .path12:before {
  content: "\e931";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
  opacity: 0.6;
}
.icon-Enclosed-Hauler-Icon .path13:before {
  content: "\e932";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
  opacity: 0.6;
}
.icon-Enclosed-Hauler-Icon .path14:before {
  content: "\e933";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Enclosed-Hauler-Icon .path15:before {
  content: "\e934";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Open-Hauler-Icon .path1:before {
  content: "\e910";
  color: rgb(9, 38, 94);
}
.icon-Open-Hauler-Icon .path2:before {
  content: "\e911";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Open-Hauler-Icon .path3:before {
  content: "\e912";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Open-Hauler-Icon .path4:before {
  content: "\e913";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Open-Hauler-Icon .path5:before {
  content: "\e914";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Open-Hauler-Icon .path6:before {
  content: "\e915";
  margin-left: -1.6669921875em;
  color: none;
}
.icon-Open-Hauler-Icon .path7:before {
  content: "\e916";
  margin-left: -1.6669921875em;
  color: none;
}
.icon-Open-Hauler-Icon .path8:before {
  content: "\e917";
  margin-left: -1.6669921875em;
  color: none;
}
.icon-Open-Hauler-Icon .path9:before {
  content: "\e918";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Open-Hauler-Icon .path10:before {
  content: "\e919";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Open-Hauler-Icon .path11:before {
  content: "\e91a";
  margin-left: -1.6669921875em;
  color: rgb(9, 38, 94);
}
.icon-Open-Hauler-Icon .path12:before {
  content: "\e91b";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Open-Hauler-Icon .path13:before {
  content: "\e91c";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Open-Hauler-Icon .path14:before {
  content: "\e91d";
  margin-left: -1.6669921875em;
  color: rgb(253, 253, 255);
}
.icon-Open-Hauler-Icon .path15:before {
  content: "\e91e";
  margin-left: -1.6669921875em;
  color: none;
}
.icon-Open-Hauler-Icon .path16:before {
  content: "\e91f";
  margin-left: -1.6669921875em;
  color: none;
}
.icon-search:before {
  content: "\e905";
}
.icon-keyboard_arrow_down:before {
  content: "\e904";
}
.icon-search1:before {
  content: "\e95d";
}
.icon-keyboard_arrow_down1:before {
  content: "\e95c";
}
.icon-chevron-thin-right:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e93f";
}
.icon-chevron-thin-right1:before {
  content: "\e95e";
}
.icon-calendar1:before {
  content: "\e961";
}
.icon-menu:before {
  content: "\e95f";
}
.icon-checkmark-outline:before {
  content: "\e960";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-bin:before {
  content: "\e9ac";
}
