@import "index";


.companyPage {
  padding-bottom: 60px;
  h1 {
    margin: 40px 0;
  }
  .companyContent {
    p {
      line-height: 38px;
      margin-bottom: 40px;
    }
    .img {
      width: 100%;
      img {
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
    }
    .subTopic {
      margin-top: 40px;
      >h1 {
        margin-bottom: 40px;
      }
    }
  @media screen and (max-width: 1024px) {
    p {
      margin-bottom: 15px;
      line-height: 30px;
    }
    .subTopic {
      margin-top: 20px;
      >h1 {
        margin-bottom: 20px;
      }
    }
  }
  }
  .titleSection {
    margin-bottom: 40px;
    .iconArrow {
      vertical-align: middle;
    }

  }
  @media screen and (max-width: 1024px) {
    h1 {
      margin: 20px 0;
    }
    .titleSection {
      margin-bottom: 20px;
      margin-top: 30px;
    }
  }
}

.pricingPart {
  display: flex;
  justify-content: center;
}
.pricingBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 50%;
  min-width: 765px;
  h1 {
    margin: 0;
  }
  p {
    line-height: 38px;
  }
  .orPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
    hr {
      width: 125px;
      border-color: $blue-60;
    }
  }
  .btn {
    text-align: center;
    button {
      height: 40px;
      font-weight: 900;
      font-size: 20px;
      color: #FDFDFF;
      width: 100%;
      background-color: #E53E29;
      border-radius: 10px;
      width: 222px;
    }
    a {
      letter-spacing: initial;
      margin-left: 10px;
    }
  }
  @media screen and (max-width: 1024px) {
    gap: 15px;
    min-width: unset;
    width: 100%;
  }
  p {
    line-height: 30px;
  }
}