@import "index";

.contactPage {
  position: relative;
  padding-top: 40px;
  padding-bottom: 60px;
  clear: both;
  content: "";
  display: table;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    .pageTitle {
      margin-top: 20px;
    }
  }

  .hrField {
    position: absolute;
    top: 0;
  }

  .pageTitle {
    text-align: center;
    margin-bottom: 92px;
    @media screen and (max-width: 768px) {
      margin-bottom: 35px;
    }
  }

  .contactsInfoBlock {
    display: inline-block;
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .contacts {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .contactGroup {
      h3 {
        margin-bottom: 10px;
        line-height: 48px;
      }

      > div {
        display: flex;
        line-height: 24px;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }

      &:first-of-type {
        h3 {
          margin-bottom: 22px;
          @media screen and (max-width: 1024px) {
            margin-bottom: 10px;
          }
        }
      }

      @media screen and (max-width: 768px) {
        & > div {
          flex-wrap: wrap;
        }
      }
    }
  }

  .img {
    max-width: 45%;
    //max-width: 680px;
    max-height: 560px;
    float: right;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 10px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .contactFormBlock {
    width: 43%;
    margin-top: 92px;
    display: inline-block;
    float: left;

    > h1 {
      margin-bottom: 40px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }
    }

    .sendMessageForm {
      max-width: 745px;
    }

    .postComment {
      .commentForm {
        .inputs {
          > div {
            width: 100%;
            max-width: 661px;
            padding-right: 0;

            > div {
              margin-top: 38px;
              @media screen and (max-width: 1024px) {
                margin-top: 10px;
              }
            }
          }

          .message {
            .JoyTextarea-root {
              height: 236px;
              @media screen and (max-width: 1024px) {
                height: 150px;
              }
            }
          }
        }

        .buttonPart {
          justify-content: end;
        }
      }

    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      float: unset;
      margin-top: 35px;
      .sendMessageForm {
        max-width: unset;
      }
      .postComment {
        h1 {
          margin-bottom: 8px;
        }
      }
    }
  }

  .pricingSection {
    display: inline-block;
    max-width: 765px;
    width: 50%;
    margin-top: 92px;
    margin-left: 6%;

    .pricingBlock {
      min-width: unset;
      width: 100%;

      .orPart {
        justify-content: start;
      }

      .btn {
        text-align: start;
      }
    }

    @media screen and (max-width: 1024px) {
      margin-left: 0;
      width: 100%;
      max-width: unset;
      margin-top: 35px;
    }
  }

}