@import "index";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

//   UNIVERSAL
.hr {
  border-radius: 10px;
  width: 140px;
  border: 5px solid $red;
}


.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 59, 86, 0.72);
  backdrop-filter: blur(10px);

  .MuiCircularProgress-root {
    width: 5vw !important;
    height: 5vw !important;
    min-width: 40px;
    min-height: 40px;
    max-width: 100px;
    max-height: 100px;
  }

  svg {
    color: #09265ED9;
  }

}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.m-padding {
  padding-left: 13.15%;
  padding-right: 13.15%;
}

//    Colors
.red {
  color: $red;
}

.blue-60 {
  color: $blue-60;
}

.blue-80 {
  color: $blue-80;
}

.blue-90 {
  color: $blue-90;
}

.blue {
  color: $blue;
}

.white {
  color: $white !important;
}


// Width

.w-100 {
  width: 100%;
}

//    Fonts
.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 900;
}

.font-36 {
  font-size: 24px;
}

.font-32 {
  font-size: 24px;
}

.font-30 {
  font-size: 24px;
}

.font-28 {
  font-size: 24px;
}

.font-24 {
  font-size: 18px;
}

.font-20 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

//  Margin

.m-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.m-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}


.helper {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $white;
  margin-bottom: 5px;
  gap: 10px;

}

.inputField {
  position: relative;


  input {
    width: 100%;
    max-width: 260px;
    padding: 12px 30px !important;
    background: #FDFDFF;
    border: none;
    border-radius: 10px;
    height: 48px !important;
    box-sizing: border-box;
    color: rgba(5, 47, 90, 0.6);
    font-size: 16px;
  }

  .err-message {
    position: absolute;
    font-size: 14px;
    left: 0;
    bottom: -20px;
    color: $red;
  }

  .MuiInputBase-root {
    padding: 0 !important;
  }

  .MuiFormLabel-root {
    top: -3px;

    &.Mui-focused, &.MuiFormLabel-filled {
      color: $white;
      top: -5px;
    }
  }

  .MuiAutocomplete-root {
    position: relative;

    fieldset {
      border: none;
    }
  }

  .MuiAutocomplete-clearIndicator {
    margin-right: 40px;
  }

  .MuiAutocomplete-popupIndicator{
    background-color: $gray-bg;
    padding: 18px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -7px;
    height: 48px;
    background-color: $gray-bg;
    border-radius:  10px !important;
    &:before{
      content: "\e904";
      font-family: 'icomoon' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    svg{
      display: none;
    }
  }
}

.JoyTooltip-root{
  background-color: $white !important;
  span{
    color: $white !important;
  }
}


.icon-location-icon {
  .path1 {
    &:before {
      position: relative;
      z-index: 0;
    }
  }

  .path2 {
    &:before {
      position: relative;
      z-index: 1;
    }
  }
}

.page-main {
  background: $gray-bg;
}

//         MUI

.MuiButtonBase-root {
  text-transform: none !important;
}


@media screen and (max-width: 1536px) {

  .m-padding {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media screen and (max-width: 1024px) {
  .m-padding {
    padding-left: 4.75%;
    padding-right: 4.75%;
  }
}
@media screen and (max-width: 768px) {
  .m-padding{
    padding-left: 6%;
    padding-right: 6%;
  }

  .font-36 {
    font-size: 22px;
  }

  .font-32 {
    font-size: 22px;
  }

  .font-30 {
    font-size: 22px;
  }

  .font-28 {
    font-size: 22px;
  }

  .font-24 {
    font-size: 22px;
  }

  .font-22 {
    font-size: 18px;
  }
  .font-18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 540px) {
  .m-padding{
    padding-left: 6%;
    padding-right: 6%;
  }

  .font-36 {
    font-size: 26px;
  }

  .font-32 {
    font-size: 24px;
  }

  .font-30 {
    font-size: 22px;
  }

  .font-28 {
    font-size: 20px;
  }

  .font-24 {
    font-size: 18px;
  }

  .font-22 {
    font-size: 16px;
  }
  .font-20 {
    font-size: 14px;
  }
  .font-18 {
    font-size: 14px;
  }

}








