@import "index";


//       MAIN BANNER
.mainBanner {
  width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  gap: 26px;
  padding-top: 50px;
  padding-bottom: 50px;


}

.quoteForm {

  &.homeQuoteForm {
    max-width: 760px;
    padding: 31px 59px;
    background: rgba(9, 38, 94, 0.85);
    box-shadow: 5px 5px 5px rgba(9, 38, 94, 0.35);
    border-radius: 20px;
  }


  .formTitle {
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    color: $white;
    padding-bottom: 16px;
    border-bottom: 1px solid #FFFFFF;

    span {
      color: $red;
    }
  }

  .fromTo {
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 23px;
  }

  .vehicle-container {
    max-height: 175px;
    overflow-y: auto;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #c9cacc;
    }

    &::-webkit-scrollbar-track:hover {
      background: #78797a;
    }

    &::-webkit-scrollbar-thumb {
      background: #3d5585;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #01143b;
    }
  }

  .vehicle {
    margin-top: 20px;

    align-items: flex-end;
    gap: 23px;

    & > div {
      width: 100%;
    }
  }

  .addVehicle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    text-align: center;

    .empty{
      width: 10%;
    }

    .delete{
      span{
        transition: 0.25s;
        font-size: 22px;
        color: $white;
      }
      &:hover{
        span{
          color: $red;
        }
      }
    }

    .plusIcon {
      background-color: $red;
      padding: 5px;
      border-radius: 50%;
      margin-right: 5px;

      & + span {
        font-weight: 700;
        font-size: 18px;
        color: $white;
      }
    }
  }

  .time {
    margin-top: 40px;
    display: flex;
    gap: 20px;

    .MuiFormLabel-root.Mui-focused {
      display: none;
    }

    .inputField {
      max-width: 260px;
      width: 100%;
    }

    .MuiFormLabel-filled {
      display: none;
    }

    .method {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 25px;
      height: 100%;

      .title {
        white-space: nowrap;

        & > span:first-of-type {
          margin-right: 7px;
          font-size: 16px;
        }

      }

      .selectMethod {
        color: $white;
        position: relative;
        font-weight: bold;
        gap: 15px;

        .err-message {
          position: absolute;
          font-size: 14px;
          left: 0;
          bottom: -20px;
          color: $red;
        }

        label {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 5px;
        }

        input {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .contacts {
    gap: 23px;
    margin-top: 40px;

    .inputField {
      width: 100%;

      input {
        padding: 12px 15px !important;
      }

      &.name {
        max-width: 199px;
      }

      &.email {
        max-width: 252px;
      }

      &.phoneMask {
        max-width: 150px;
      }
    }
  }

  .inputField.phoneMask {
    .PhoneInputCountry {
      display: none !important;
    }
  }

  .quoteBtn {
    margin-top: 40px;
    text-align: center;

    button {
      font-weight: 900;
      font-size: 16px;
      color: $white;
      width: 100%;
      max-width: 480px;
      background-color: $red;
      border-radius: 10px;
    }
  }
}

//    REVIEWS BANNER

.reviewsBanner {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: $blue;

  .welcomePart {
    display: flex;
    justify-content: center;
    padding: 0 11% 60px;

  }

  .reviewsMain {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    max-width: 660px;

    h1 {
      font-weight: 900;
      margin: 20px 0;
    }

    p {
      line-height: 40px;
      color: $white;
    }
  }

  .reviewsContainer {
    display: flex;
    gap: 30px;

    .stars {
      gap: 30px;
    }

    .common {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        white-space: nowrap;
        font-size: 64px;
        color: $gold;
      }

      .MuiRating-root {
        gap: 12px;

        .MuiRating-decimal {
          svg {
            fill: $gold;
          }
        }
      }


    }

    .partial {

      .reviewsMain {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 21px;
        color: $white;
        font-size: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }

        .from {
          width: 120px;
          height: 24px;
          position: relative;
          background: #FFFFFF;
          border-radius: 5px;
        }

        .total {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background-color: $gold;
          border-radius: 5px;

        }

        svg {
          width: 20px;
          fill: $gold;
        }

      }


    }

    .buttons {
      max-width: 225px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      button {
        &:first-of-type {
          width: 260px;
          height: 48px;
          background: #E53E29;
          border-radius: 10px;

          a {
            color: #FDFDFF;
            font-weight: 900;
          }
        }

        &:last-of-type {
          margin-top: 28px;
          width: 225px;
          height: 48px;
          background: #FDFDFF;
          border-radius: 10px;

          a {
            font-weight: 900;
            color: #09265E;
          }
        }

      }
    }
  }
}

//       TRANSPORTATION !

.transportation {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F4F7FB;

  & > h1 {
    margin: 60px 0 50px;
    font-weight: 900;
  }

  .mainContent {
    display: flex;
    justify-content: space-between;
    gap: 3%;
  }

  .contentItem {
    display: flex;
    flex-direction: column;
    gap: 60px;

    &.cards {
      width: 35%;
    }

    & > h3 {
      max-width: 554px;
      line-height: 30px;
    }

  }

  .transportCard {
    max-width: 463px;
    width: 100%;
    min-height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $white;
    box-shadow: 5px 5px 5px rgba(9, 38, 94, 0.35);
    border-radius: 20px;
    padding: 40px;
    gap: 20px;
    transition: 0.3s;


    & > p {
      line-height: 46px;
      color: $blue;
    }

    button {
      width: 160px;
      height: 48px;
      background: #E53E29;
      border-radius: 10px;

      & + span {
        font-size: 60px;
        color: $blue;
      }
    }

    &:hover {
      box-shadow: 5px 5px 15px rgba(9, 38, 94, 0.35);
    }

  }
}

//      OUR CUSTOMERS

.customersSection {
  .customersSays {
    padding: 60px 0 30px 10.5%;
    background-color: $white;
    display: flex;
    gap: 4%;
    justify-content: space-between;

    .content {
      width: 36%;

      & > h1 {
        font-weight: 900;
        margin-top: 60px;
      }

      & > p {
        padding-right: 30px;
        margin-top: 30px;
        color: $blue;
        line-height: 38px;
      }
    }
  }

  .customersImg {
    width: 60%;

    img {
      width: 100%;
    }
  }
}


.checkOutReviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 60px;
  background: $blue;

  & > h1 {
    color: rgba(253, 253, 255, 0.6);
    line-height: 24px;
  }

  .socs {
    gap: 70px;

    .socItem {
      & > div > span:first-of-type {
        font-size: 62px;
      }

      .name {
        text-align: center;
        margin-top: 60px;
      }
    }

    .MuiRating-root {
      gap: 12px;

      .MuiRating-decimal {
        svg {
          fill: $gold;
        }
      }
    }
  }

  button.MuiButtonBase-root {
    a {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: $red;
    }
  }
}

//     COMMERCIAL SERVICES

.commercialServices {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $white;

  > h1 {
    text-align: center;
    margin-bottom: 60px;
  }

  .container {
    gap: 7%;

    .part {
      display: flex;
      flex-direction: column;
      gap: 60px;

      .commercialCard {
        max-width: 550px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        min-height: 340px;
        background: #F4F7FB;
        box-shadow: 5px 5px 5px rgba(9, 38, 94, 0.35);
        border-radius: 20px;
        padding: 40px;
        transition: .3s;

        &:hover {
          box-shadow: 5px 5px 15px rgba(9, 38, 94, 0.35);
        }

        p{
          line-height: 24px;
        }

        button {
          width: 160px;
          height: 48px;
          background: #E53E29;
          border-radius: 10px;
        }


      }
    }
  }
}

.help {
  background-color: $gray-bg;
  padding-top: 60px;
  padding-bottom: 60px;

  .getConsultation {
    padding-left: 5%;

    .head {
      padding: 26px 0 0 38px;
      position: relative;
    }

    .square {
      position: absolute;
      left: 0;
      top: 0;
      width: 70px;
      height: 70px;
      border-top: 5px solid $red;
      border-left: 5px solid $red;
    }

    .else {
      padding: 11px 0 40px 38px;
    }


    .operator {
      margin-left: 45px;
    }

  }

  .contacts {
    .personal {

      gap: 14px;
      padding: 10px 10px 15px;
      background-color: $white;
      min-height: 160px;

      .namePhone {
        min-width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .phoneNumber {
          & > span {
            font-size: 12px;
            color: rgba(9, 38, 94, 0.85);
            margin-left: 50px;
          }
        }
      }


    }

    .email {
      gap: 17px;
      padding-top: 35px;

      .MuiFormControl-root {
        width: 100%;
        max-width: 356px;

        label {
          color: $blue-60;
          background-color: transparent;
        }

        input {
          background-color: $white;
          color: $blue;
        }

        fieldset {
          border-color: rgba(229, 62, 41, 0.6);
        }
      }

      button {
        width: 100%;
        max-width: 155px;
        font-weight: 900;
        background-color: $red;
      }
    }
  }
}

.or {
  display: flex;
  justify-content: left;
  gap: 20px;
  align-items: center;
  color: rgba(9, 38, 94, 0.6);
  margin-bottom: 40px;

  hr {
    width: 124px;
    border: 1px solid rgba(9, 38, 94, 0.6);
    height: 1px;
  }
}

.MuiFormControl-root {
  label {
    color: rgba(9, 38, 94, 0.85);
    font-size: 14px;
  }

  .MuiInputBase-root {
    &:before, &:after {
      color: $blue-60;
      border-color: $blue-60;
    }

    input {
      color: $blue;
      font-size: 14px;
    }
  }
}

.PhoneInput {
  .PhoneInputCountry {
    .PhoneInputCountryIcon {
      border-radius: 4px;
    }
  }

  input {
    height: 32px;
    border: none;
    padding: 5px;
    color: $blue;
    border-bottom: 1px solid $blue-60;
    font-size: 14px;
    box-sizing: border-box;

    &:hover, &:active, &:focus {
      border-bottom: 2px solid $blue-60;
      padding-bottom: 4px;
    }
  }
}

.message {
  min-width: 240px;

  padding-top: 9px;

  & > span {
    font-size: 14px;
    color: $blue;
  }

  .JoyTextarea-root {
    height: calc(100% - 18px);
    border: none;
    padding-left: 0;
    border-bottom: 1px solid $blue-60;
    border-radius: 0;

    textarea {
      font-size: 14px;
      color: $blue;
    }

    &:hover, &:active, &:focus {
      border-bottom: 2px solid $blue-60;
      padding-bottom: 4px;
    }

    &::before {
      display: none;
    }
  }
}


//          LATEST    ARTICLES

.latestArticles {
  background-color: $white;
  padding-top: 60px;
  padding-bottom: 60px;

  > h1 {
    text-align: center;
    margin-bottom: 60px;
  }

  .container {
    gap: 10%;
  }

  .posts {
    width: 100%;

    .self {
      gap: 10%;
      margin-top: 30px;
    }

    .postItem {
      width: 100%;
      max-width: 304px;
      background-color: $white;

      .content {
        padding: 10px 14px;

        > h1 {
          line-height: 30px;
          margin-bottom: 10px;
          min-height: 90px;
        }

        > p {
          line-height: 20px;
          text-align: center;
          min-height: 100px;
        }

        .btn {
          text-align: center;
          padding-top: 17px;

          button a {
            font-size: 16px;
            display: flex;
            align-items: center;
          }

          span {
            font-weight: 700;
          }
        }
      }

      .img {
        height: 200px;

        img {
          object-fit: cover;
          width: 100%;
        }
      }

      .info {
        margin-bottom: 10px;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}


@media screen and (max-width: 1536px) {
  .reviewsBanner {
    .welcomePart {
      padding: 0 0 60px;
    }

    .reviewsContainer {
      flex-direction: column;
    }
  }

  .transportation {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .hr {
      margin-bottom: 20px;
    }

    .mainContent {
      flex-wrap: wrap;
      gap: 20px;

      .contentItem:not(.cards) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;

        & > h1 {
          text-align: center;
          width: 100%;
        }

        & > h3 {
          width: 45%;
        }
      }

      .contentItem {
        grid-column-gap: 10%;
        grid-row-gap: 20px;

        &.cards {
          width: 45%;
        }
      }

    }
  }

}

@media screen and (max-width: 1380px) {
  .latestArticles {
    .container {
      flex-direction: column;

      .posts {
        .self {
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .reviewsBanner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcomePart {
      display: none;
    }

    .content {
      h1 {
        font-size: 20px;
        max-width: 225px;
        line-height: 36px;
      }

      p {
        display: none;
      }
    }

    & > .reviewsMain {
      flex-direction: column;

      .reviewsContainer {
        .buttons {
          flex-direction: row;
          max-width: unset;
          gap: 20px;

          button {
            margin-top: 0 !important;
          }
        }
      }
    }
  }

  .transportation {
    .mainContent {
      gap: 30px;

      .contentItem:not(.cards) {
        & > h3 {
          width: 100%;
          text-align: center;
        }
      }

      .contentItem {
        width: 100% !important;
        flex-direction: column !important;
        align-items: center;
        gap: 30px;

        .transportCard {
          padding: 25px 30px;
        }
      }
    }
  }

  .checkOutReviews {
    & > h1 {
      font-size: 20px;
    }

    .socs {
      gap: 20px;

      .socItem {
        & > div > span:first-of-type {
          font-size: 42px;
        }

        .name {
          margin-top: 10px;
          font-size: 24px;
        }
      }

      .MuiRating-root {
        gap: 5px;
      }
    }

    button {
      display: none;
    }
  }

  .commercialServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    & > h1 {
      margin-bottom: 40px;
      margin-top: 20px;
    }

    .container .part .commercialCard {
      padding: 25px;
    }
  }

  .customersSection, .calculationInfo, .latestArticles {
    display: none;
  }

}


@media screen and (max-width: 768px) {
  .mainBanner {
    background-image: none !important;
    overflow: hidden;

    .quoteStepper {
      width: 100%;
    }
  }

  .transportation {
    .mainContent {
      .contentItem {
        .transportCard {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .commercialServices .container .part .commercialCard p {
    font-size: 16px;
    line-height: 24px;


  }

  .reviewsBanner {
    .reviewsMain {
      .reviewsContainer .stars, .buttons {
        flex-direction: column !important;
        align-items: center;
      }

      .reviewsContainer .stars .common {
        align-items: center;
        gap: 10px;

        h1 {
          font-size: 32px;
        }

        .MuiRating-root {
          justify-content: center;
          gap: 5px;

          .MuiRating-decimal svg {
            width: 16px;
            height: 16px;
          }
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  .commercialServices {
    .container {
      flex-direction: column;

      .part {
        gap: 30px;

        &:first-of-type {
          margin-bottom: 30px;
        }
      }
    }
  }
  .transportation {
    .mainContent {
      .contentItem {
        & > h1 {
          font-size: 20px;
        }

        & > h3 {
          font-size: 14px;
        }
      }
    }
  }

  .checkOutReviews {
    display: none;
  }

  .MuiStepper-root {
    .MuiStep-root {
      padding-left: 0;
      padding-right: 10px;

      &:not(&.active, &.active+.MuiStepConnector-root+.MuiStep-root) {
        display: none;
      }

      &.active + .MuiStepConnector-root + .MuiStep-root {
        margin-right: -55px;
        margin-left: 10px;

        .indicator p {
          display: none;
        }
      }

      &.active + .MuiStepConnector-root {
        display: block;
      }

      .indicator {
        display: flex;
        align-items: center;
        gap: 10px;

        &.active {
          & > span {
            background: #E53E29;
            border-radius: 25px;
            color: $white;
          }

          & > p {
            color: $red;
          }
        }

        & > span {
          width: 58px;
          height: 34px;
          background: #FDFDFF;
          border-radius: 25px;
          color: $blue;
          font-size: 24px;
          font-weight: 900;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & > p {
          font-weight: 700;
          font-size: 24px;
          color: #FDFDFF;
        }
      }

      &.Mui-completed {
        .indicator {
          & > span {
            width: 80px;
            height: 48px;
            background: $red;
            border: 2px solid rgba(9, 38, 94, 0.6);
            border-radius: 25px;
            color: $white;
          }

          & > p {
            color: $red;
          }
        }

        & + .MuiStepConnector-root span {
          border-top: 2px solid $red;
        }
      }

      & + .MuiStepConnector-root span {
        border-top: 2px solid $blue;
      }
    }

    .MuiStepConnector-root {
      display: none;
    }
  }
  .stepsController {
    .inputs {
      .formTitle {
        font-size: 20px;
      }

      .fromTo {
        margin-top: 20px;
      }

      .inputField {
        margin-bottom: 20px;

        &.inputField, input {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    .stepForm {
      margin-top: 30px;

      &.step2 {
        .inputs {
          padding-bottom: 0;
        }

        .vehicle-container {
          max-height: 301px;
          margin-top: 20px;

          .vehicle {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 0;
            margin-bottom: 20px;

            .inputField {
              max-width: 200px;
              margin-bottom: 0;

              .helper {
                margin-left: 40px;
              }
            }
          }

          .addVehicle {
            margin: 0 0 20px 0;
          }
        }

        .time {
          flex-direction: column;
          padding: 0 20px 20px;

          .method {
            .title {
              text-align: center;
            }

            .selectMethod {
              justify-content: space-evenly;
            }
          }
        }
      }

      &.confirmation {
        .inputs {
          padding: 10px 28px 0;

          .headTitle {
            align-items: center;

            & > p {
              font-size: 24px !important;
            }

            button {
              padding: 0;
            }

            border-bottom: 1px solid $white;
          }

          .content {
            flex-direction: column;
            gap: 0;

            .leftSide, .rightSide {
              width: 100%;

              .toInfoItem {
                .helper {
                  .to-icon {
                    position: absolute;
                    left: 6px;
                    z-index: 0;
                  }
                }
              }

              .timeInfoItem {
                .helper {
                  span {
                    font-size: 22px;
                  }
                }
              }

              .helper {
                span {
                  font-size: 28px;
                }
              }
            }
          }
        }
      }
    }
  }
}


