@import "index";

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10.45% 20px 31.3%;
  background-color: $gray-bg;

  .get-quote a {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: $red;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;

    .icon-chevron-thin-right {
      background-color: $red;
      color: $white;
      border-radius: 50%;
      padding: 6px;
      font-weight: bold;
    }
  }

  .new-item {
    a {
      color: $blue-60;
      font-weight: 700;
      font-size: 20px;
    }
  }

}

.operator a {
  max-width: 222px;
  background-color: $red;
  padding: 4px 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .icon-Operator-icon-1 {
    font-size: 32px;
  }

  .phone {
    color: $white;
    font-weight: 700;
    font-size: 20px;
  }

}

//              HEADER     !!!!!!!!!!

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10.5%;
  background-color: $white;
  //      FOR    STICKY HEADER  !
  //position: sticky;
  //top: 0;
  //left: 0;
  //width: 100%;
  .header-nav {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    .MuiButtonBase-root {
      white-space: nowrap;
      font-weight: 700;
      font-size: 24px;
      text-transform: none !important;
      color: $blue;
    }
  }

  .operator {
    display: none;
  }

  .burgerMenu {
    display: none;
  }
}

.header-search {
  position: relative;
  height: 48px;
  max-width: 260px;

  input {
    height: 100%;
    width: 100%;
    padding: 16px 48px 20px 16px;
    font-size: 20px;
    background: #F4F7FB;
    border: 2px solid rgba(150, 158, 160, 0.4);
    border-radius: 5px;
    color: $blue;

    &::placeholder {
      color: $blue-40;
    }
  }


  button {
    font-size: 20px;
    padding: 14px 24px;
    background-color: $red;
    color: $white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
}


.headerMenuPopUp {
  .MuiPaper-root {
    li.MuiButtonBase-root {
      padding: 0;

      a {
        width: 100%;
        padding: 12px 30px;
      }
    }
  }
}

.MuiPaper-root {
  .MuiList-root {
    li {
      padding: 12px 30px;

      a {
        color: rgba(5, 47, 90, 0.6);
      }
    }
  }
}

//   GET QUOTE POPUP

.getQuotePopUp {
  & > .MuiDialog-container > .MuiPaper-root {
    max-width: 760px;
    border-radius: 20px !important;

    &::-webkit-scrollbar {
      width: 10px;
      margin-right: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: #c9cacc;
    }

    &::-webkit-scrollbar-track:hover {
      background: #78797a;
    }

    &::-webkit-scrollbar-thumb {
      background: #3d5585;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #01143b;
    }
  }
}

button.openGetQuote {
  border: none;
  background-color: transparent !important;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: $red;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  vertical-align: top;
  transform: rotate(7deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  width: 60px;
  min-width: 0;
  height: 175px;


  span {
    cursor: pointer;
    white-space: nowrap;
  }

  .quoteIcon {
    min-width: 60px;
    width: 60px;
    height: 60px;
    background-color: $red;
    color: $white;
    border-radius: 50%;
    padding: 6px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    .MuiTouchRipple-root {
      display: none;
    }
  }

  .icon-chevron-thin-right {
    font-size: 32px;
  }

  &:hover {
    .quoteIcon {
      box-shadow: 5px 0 15px $blue;
      transform: scale(1.05);
    }
  }
}


//      FOOTER


footer {
  background-color: $blue;
  padding-top: 60px;
  padding-bottom: 60px;

  .topContent, .bottomContent {
    gap: 20px;
    border-bottom: 2px solid #F4F7FB99;
    margin-bottom: 60px;
    padding-bottom: 60px;
  }

  .contentItem {
    h2 {
      margin-bottom: 30px;
      height: 28px;
    }

    p, a {
      margin-bottom: 15px;
      font-size: 20px;
      color: $white;
      display: block;
      transition: 0.3s;

      a {
        color: $white;
      }
    }

    &.info {
      img {
        margin-bottom: 30px;
        max-width: 348px;
      }
    }
  }

  .ending {
    position: relative;
    text-align: center;

    .links {
      gap: 30px;
      position: absolute;
      top: 0;
      right: 0;

      a {
        color: $white;
      }
    }
  }
}

//       SOCIAL  LINKS PANEL
.socialPanel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: 10%;
  right: 20px;

  a {
    transition: 0.3s;
    border-radius: 50%;

    span {
      font-size: 60px;
    }

    &:hover {
      box-shadow: 5px 0 15px $blue;
      transform: scale(1.05);
    }
  }
}

.btnToTop.MuiButtonBase-root {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: $red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.6s;

  .icon-chevron-thin-right {
    transform: rotate(-90deg);
    color: $white;
    font-size: 26px;
    font-weight: 900;

  }

  &.available {
    opacity: 1;
  }
}

@media screen and (max-width: 1536px) {
  .top-panel {
    padding: 14px 10.5%;
  }
  header {
    padding: 20px 4.75%;

    .header-logo img {
      width: 200px;
    }

    .MuiButtonBase-root {
      & > span {
        font-size: 18px;
      }
    }

    .header-nav {
      gap: 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .top-panel {
    justify-content: center;

    .new-item {
      display: none;
    }

    .get-quote {
      .icon-chevron-thin-right {
        transform: rotate(90deg);
      }
    }

    .operator {
      display: none;
    }
  }
  header {
    .header-nav, & > .header-search {
      display: none;
    }

    .operator {
      display: block;
    }

    .burgerMenu {
      width: 20px;
      display: block;

      span {
        color: $red;
        font-size: 20px;
      }
      .icon-cancel-circle{
        font-size: 24px;
      }
    }
  }
  .socialPanel {
    display: none;
  }
  .mobileMenuDrawer {
    .MuiBackdrop-root {
      //top: 160px;
      background-color: transparent;
    }

    .MuiPaper-root {
      width: 50%;
      padding: 20px;
      top: 160px;
      background-color: $blue;

      nav.JoyList-root {
        .icon-chevron-thin-right{
          color: $white;
          font-weight: 900;
          margin-left: 5px;
          &.more{
            transform: rotate(90deg);
          }
          &.less{
            transform: rotate(-90deg);
          }
        }
        & > .JoyListItemButton-root {
          padding-top: 20px;
          padding-bottom: 20px;
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {
  header{
    .operator {
      display: none;
    }
    .mobileOperator{
      display: flex;
      flex-direction: column;
      gap: 3px;

      align-items: center;
      .icon-Operator-icon-2{
        font-size: 22px;
      }
    }
  }
  .mobileMenuDrawer {
    .MuiPaper-root {
      width: 100%;
    }
  }
  .getQuotePopUp {
    & > .MuiDialog-container > .MuiPaper-root {
      border-radius: 0 !important;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      margin: 0;
      .quoteStepper{
        overflow: hidden;
        padding: 24px;
      }
    }
    .MuiStepper-root .MuiStep-root .indicator > span{
      background-color: $gray-bg;
    }
    .top-panel{
      .icon-chevron-thin-right{
        transform: rotate(270deg);
      }
    }
  }
}
