@import "index";


.postPage {
  padding-bottom: 60px;
  .topSection {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-top: 100px;
    border-bottom: 2px solid $blue-40;
    .leftPart {
      .img {
        margin-bottom: 24px;
        height: 486px;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
      .bottomPart {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .info {
          display: flex;
          align-items: center;
          gap: 10px;
        }
        .shareBlock {
          display: flex;
          flex-direction: row;
          align-items: center;
          >span:first-of-type {
            margin-right: 10px;
          }
          .shareTo {
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              box-shadow: 5px 0 15px $blue;
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
  .postContent {
    .postTopic {
      width: 72%;
      .postTitle {
        margin-bottom: 30px;
      }
      .postTitle, .postSubTitle {
        line-height: 50px;
      }
      .postDesc {
        line-height: 55px;
      }
    }
  }
  .relativeBlock {
    display: flex;
    flex-direction: column;
    .blogTitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-bottom: 40px;
    }
    .postsList {
      justify-content: flex-start;
      gap: 55px;
      .content {
        padding-left: 48px;
        padding-right: 48px;
      }
      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        span {
          font-size: 16px;
        }
      }
    }
  }
  .postLine {
    margin: 60px 0;
    border-color: $blue-40;
  }
  .postComment {
    h1 {
      font-weight: 400;
    }
    .commentForm {

      .inputs {
        display: flex;
        flex-direction: row;
        >div {
          width: 50%;
          &:first-of-type {
            padding-right: 40px;
          }
          .MuiFormControl-root {
            width: 100%;
            label {
              font-size: 24px;
            }
            input, textarea {
              font-size: 24px;
            }

          }
          >div {
            &:not(:first-of-type) {
              margin-top: 10px;
            }
          }
        }
        .message {
          padding-top: 25px;
          & > span {
            font-size: 24px;
          }

          .JoyTextarea-root {
            height: calc(100% - 28px);
            textarea {
              font-size: 24px;
            }
          }
        }
        input {
          padding: 10px 0;
        }

      }
      .buttonPart {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        .selectSave {
          input[type="checkbox"]{
            visibility: hidden;
            position: absolute;
          }
          input[type="checkbox"] + label{
            display: flex;
            align-items: center;
            cursor: pointer;
            &:before{
              margin-right: 2px;
              content: " ";
              display:inline-block;
              border:1px solid rgba(5, 47, 90, 0.6);;
            }

          }
          input[type="checkbox"]:checked + label:before{
            background-color: $blue;
          }
          input[type="checkbox"] + label:before{
            border-radius:50%;
            height: 24px;
            width: 24px;
            margin-right: 20px;
          }

        }
        .btn {
          width: 220px;

          text-align: center;
          button {
            height: 48px;
            font-weight: 900;
            font-size: 20px;
            color: #FDFDFF;
            width: 100%;
            background-color: #E53E29;
            border-radius: 10px;
          }
        }
      }

    }
  }
}
