@import "index";

.quoteBanner {
  padding: 117px 5.5%;
  min-height: 848px;
  position: relative;
  background-color: #09265EB2;

  .bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -2;
  }

  //     OPEN THE COMMENT WHEN IMG WILL BE COME FROM BACK-END
  //.filter{
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  left: 0;
  //  top: 0;
  //  //background-color: rgba(9, 38, 94, 0.3);
  //  z-index: -1;
  //}
  .MuiStepper-root {
    .MuiStep-root {
      padding-left: 20px;
      padding-right: 20px;

      .indicator {
        display: flex;
        align-items: center;
        gap: 20px;

        &.active {
          & > span {
            width: 80px;
            height: 48px;
            background: #E53E29;
            border: 2px solid rgba(9, 38, 94, 0.6);
            border-radius: 25px;
            color: $white;
          }

          & > p {
            color: $red;
          }
        }

        & > span {
          width: 80px;
          height: 48px;
          background: #FDFDFF;
          border-radius: 25px;
          color: $blue;
          font-size: 24px;
          font-weight: 900;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & > p {
          font-weight: 700;
          font-size: 24px;
          color: #FDFDFF;
        }
      }

      &.Mui-completed {
        .indicator {
          & > span {
            width: 80px;
            height: 48px;
            background: $red;
            border: 2px solid rgba(9, 38, 94, 0.6);
            border-radius: 25px;
            color: $white;
          }

          & > p {
            color: $red;
          }
        }

        & + .MuiStepConnector-root span {
          border-top: 2px solid $red;
        }
      }

      & + .MuiStepConnector-root span {
        border-top: 2px solid $white;
      }
    }
  }
}

.stepsController {
  display: flex;
  justify-content: center;

  .rsw_2Y, .rsw_2f {
    width: 100%;
    max-width: 760px;
  }
}

.stepForm {
  max-width: 760px;
  margin-top: 66px;
  width: 100%;
  background-color: #F4F7FB99;
  border: 1px solid $blue-40;
  border-radius: 10px;

  .inputs {
    padding: 40px 57px 0;

  }

  .fromTo {
    margin-top: 50px;
  }

  .time {
    justify-content: center;
  }

  .inputField {
    width: 100%;
    max-width: 260px;

    input {
      border: none;
    }
  }

  .indicator {
    border: none;
    background-color: $gray-bg;
  }

  .continueBtn {
    width: 100%;
    max-width: 100%;
    background-color: $red;
    height: 80px;
    border-radius: 0 0 10px 10px;
  }

  &.step2 {
    .time {
      justify-content: space-between;
      padding: 0 20px 40px;
    }
  }

  &.step4 {
    .inputs {
      padding: 112px 36px 0;

      .contacts {
        margin-top: 30px;
      }

      .time {
        margin-top: 30px;
        margin-bottom: 44px;
      }
    }
  }

  &.confirmation {
    .inputs {
      padding: 40px 40px 0 57px;

      .headTitle {
        .icon-Edit-Icon {
          font-size: 38px;
          margin-right: 10px;
        }

        margin-bottom: 20px;
      }

      .content {
        margin-bottom: 35px;
        gap: 20px;

        .leftSide, .rightSide {
          width: 50%;
        }
      }
    }

    .infoItem {
      position: relative;
      margin-bottom: 20px;

      .helper {
        margin-bottom: 10px;
        color: $blue;
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}

.reviewsItemsWithSlider {
  & > h1 {
    text-align: center;
  }

  .slick-slider {

    .slick-arrow {
      z-index: 9;
      width: 42px;
      height: 42px;

      &::before {
        border-radius: 50%;
        background-color: $white;
        font-size: 42px;
        color: #09265E66;
        font-weight: 900;
      }
    }

    .slick-prev {

    }
  }

  .reviewsSlider {
    position: relative;
    padding-bottom: 60px;

    .reviewItem {
      max-width: 410px;
      min-height: 550px;
      display: flex !important;
      justify-content: space-between;
      flex-direction: column;
      padding: 36px;
      text-align: center;

      .parentheses {
        font-size: 128px;
        font-weight: 900;
        color: $blue;
        transform: rotate(-180deg);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        line-height: 0;
        height: 64px;
        margin-bottom: 30px;
      }

      .text {
        line-height: 25px;
        color: $blue;
      }

      .MuiRating-root {
        justify-content: center;
        gap: 5px;

        .MuiRating-decimal svg {
          width: 28px;
          height: 28px;
        }
      }

      .mediaIcon {
        margin-top: 20px;
        font-size: 64px;
      }
    }
  }
}


.vehicleAdvertising {
  padding: 80px 14.5% 60px 20%;
  display: flex;
  justify-content: center;
  gap: 7.5%;
  background-color: $blue;

  .img {
    max-width: 460px;
    max-height: 340px;

    img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    h1, p {
      margin-bottom: 25px;
      line-height: 38px;
    }
  }

  .MuiButtonBase-root {
    width: 100%;
    max-width: 225px;
    height: 48px;
    background-color: $red;
    border-radius: 10px;
  }
}

.quoteServices {
  background-color: $gray-bg;

  .servicesItem {
    display: flex;

    .content {
      width: 50%;

      h2 {
        margin-top: 35px;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
        line-height: 38px;
      }
    }

    .img {
      width: 50%;
      max-height: 486px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:first-of-type {
      .content {
        padding-right: 40px;
      }
    }

    &:last-of-type {
      .content {
        padding-left: 40px;
      }
    }
  }
}


.calculationInfo {
  & > h2 {
    text-align: center;
  }

  .calculationPhases {
    gap: 3%;

    .calculationPhase {
      padding: 20px;
      width: 340px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      min-height: 200px;
      background: $gray-bg;
      box-shadow: 5px 5px 5px rgba(9, 38, 94, 0.35);
      border-radius: 20px;
      transition: .3s;

      &:hover {
        box-shadow: 5px 5px 15px rgba(9, 38, 94, 0.35);
      }

      .phaseIcon {
        border-radius: 50%;
        background-color: #09265E4D;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-size: 32px;
        }
      }

      &.distancePhase {
        .phaseIcon {
          span {
            font-size: 16px;

            .path1:before {
              color: $blue;
            }
          }
        }
      }

    }
  }

  .MuiButtonBase-root {
    width: 225px;
    height: 48px;
    background: $red;
    border-radius: 10px;
  }
}

.sendMessage {
  background-color: $white;
  padding-top: 60px;
  padding-bottom: 60px;
  &>h1{
    margin-bottom: 40px;
  }

  .container {
    gap: 10%;

    .sendMessageForm {
       width: 47%;
      &>h1{
        margin-bottom: 40px;
      }
      .JoyTextarea-root{
        min-height: 180px;
      }
      .commentForm .inputs > div:first-of-type {
        width: 100%;
        padding-right: 0;
      }
      .buttonPart{
        justify-content: flex-end;
        .btn button{
          border-radius: 5px;
          .icon-Arrow-5{
            margin-left: 5px;
          }
        }
      }
    }
    .pricing{
      width: 48%;
      padding-top: 120px;
      &>h2{
        margin-bottom: 40px;
      }
      p{
        line-height: 38px;
      }
      .offer{
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .operator{
        margin-left: 40px;
      }
    }


  }
}











